<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="height: 100%;">
    <div id="root" ></div>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
  </body>
</html>