.App {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    background-image: linear-gradient(-105deg, #009acc, #363795);
    height: 100vh;
}

.start-predict-button {
    font-size: 4rem !important;
    position: absolute;
    top: 35%;
    left: 15%;
    margin: 0 auto;
}
.submit-predict-button {
    font-size: 4rem !important;
    position: absolute;
    top: 80%;
    left: 15%;
    margin: 0 auto;
}

.card-checkbox {
    font-size: 4rem;
    transform: scale(5);
    margin-right: 3rem;
}
.App-light{
    color:#232127;
}

.App-dark{
    color:#e5e3e8;
}

.text-center {
    text-align: center;
}